<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Hellow! Boss!
<br>New teacher waiting your confirmation!!!
<br>
<br>Information about USER
<br>username: {{username}}
<br>second_name: {{second_name}}
<br>email: {{email}}
<br>number_phone: {{number_phone}}
<br>date_registration: {{date_registration}}
<br>gender: {{gender}}
<br>birthday: {{birthday}}
<br>role: {{role}}
<br>
<br>Information about TEACHER
<br>about_teacher: {{about_teacher}}
<br>
<br>Information about LANGUAGE
<br>language: {{language}}
<br>cost: {{cost}}
<br>experience_language: {{experience_language}}
<br>url_for_confirmation: {{reset_url}}
</body>
</html>